<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>ReactJS + Spring Data REST</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
</head>
<body>

	<div id="react" class="container"></div>

	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
	<script src="https://unpkg.com/react-router@2.8.1/umd/ReactRouter.js"></script>
	<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


	<script type="text/babel" th:src="@{/components/home_component.jsx}"></script>
	<script type="text/babel" th:src="@{/components/add_component.jsx}"></script>
	<script type="text/babel" th:src="@{/components/stats_component.jsx}"></script>
	<script type="text/babel" th:src="@{/components/single_expense_component.jsx}"></script>
	<script type="text/babel" th:src="@{/components/expense_list_component.jsx}"></script>
	<script type="text/babel" th:src="@{/containers/add_container.jsx}"></script>
	<script type="text/babel" th:src="@{/containers/expense_list_container.jsx}"></script>
	<script type="text/babel" th:src="@{/containers/stats_container.jsx}"></script>
	<script type="text/babel" th:src="@{/navigation_component.jsx}"></script>
	<script type="text/babel" th:src="@{/navigation_container.jsx}"></script>
	<script type="text/babel" th:src="@{/index.jsx}" />


</body>
</html>